#### 1- Kütüphanelerin Yüklenmesi

In [2]:
import numpy as np ## numpy kütüphanesinin import edilmesi
import pandas as pd ## pandas kütüphanesinin import edilmesi
import seaborn as sns ## seaborn kütüphanesinin import edilmesi
import matplotlib.pyplot as plt ## matplotlip kütüphanesinin import edilmesi
import datetime as dt ## datetime kütüphanesinin import edilmesi
pd.pandas.set_option('display.max_columns', None) ## dataframein tüm sutunlarının görülmesi için gereken kod

### 2- Verisetinin Yüklenmesi

In [4]:
from google.colab import drive
drive.mount('/content/drive')   # sen lokaldeysen gerek yok

Mounted at /content/drive

In [5]:
### Veri Çok fazla olduğundan biraz zaman alabilir.
data = pd.read_excel("/content/drive/MyDrive/veri bilimine giriş/3. hafta/MarketSales.xlsx")

In [7]:
data.head()

,ID,ITEMCODE,ITEMNAME,FICHENO,DATE_,AMOUNT,PRICE,LINENETTOTAL,LINENET,BRANCHNR,BRANCH,SALESMAN,CITY,REGION,LATITUDE,LONGITUDE,CLIENTCODE,CLIENTNAME,BRANDCODE,BRAND,CATEGORY_NAME1,CATEGORY_NAME2,CATEGORY_NAME3,STARTDATE,ENDDATE,GENDER
0,11738.0,5863.0,SPRITE 1 LT LIMON AROMALI GAZOZ,18456,2017-01-07,1.0,2.00,2.00,1.85,52.0,Kocaeli Subesi,Eyüp CİNE,Kocaeli,Marmara,40.8533,29.8815,467369,Sercan KIZILOK,156,SPRİTE,İÇECEK,GAZLI İÇECEK,GAZOZ,2017-01-08 16:16:11,2017-01-08 16:17:13,E
1,10537.0,8.0,TOZ SEKER,18105,2017-01-06,5.0,2.65,13.25,12.27,8.0,Antalya Subesi,İlhan ÖRENLİ,Antalya,Akdeniz,36.8841,30.7056,131464,İsmet ŞINGIR,NaN,NaN,İÇECEK,ÇAY KAHVE,SEKER TATLANDIRICI,2017-01-07 11:04:34,2017-01-07 11:05:37,E
2,11335.0,5979.0,FALIM SAKIZ 5LI NANE,18350,2017-01-03,1.0,0.40,0.40,0.37,40.0,İstanbul Subesi,İsmet SARTIK,İstanbul,Marmara,41.0053,28.9770,656969,Yağız KUBAL,300,FALIM,GIDA,SAKIZ SEKERLEME,SAKIZ,2017-01-04 14:00:03,2017-01-04 14:01:01,E
3,11336.0,5979.0,FALIM SAKIZ 5LI NANE,18350,2017-01-03,1.0,0.40,0.40,0.37,40.0,İstanbul Subesi,İsmet SARTIK,İstanbul,Marmara,41.0053,28.9770,656969,Yağız KUBAL,300,FALIM,GIDA,SAKIZ SEKERLEME,SAKIZ,2017-01-04 14:00:03,2017-01-04 14:01:01,E
4,10115.0,12808.0,FALIM SAKIZ 5LI CILEK,18005,2017-01-05,1.0,0.40,0.40,0.37,41.0,İzmir Subesi,Gülten IŞLAK,İzmir,Ege,38.4189,27.1287,447336,Habibe AYSAN,300,FALIM,GIDA,SAKIZ SEKERLEME,SAKIZ,2017-01-06 14:00:30,2017-01-06 14:01:03,K

In [6]:
data.head(2)

,ID,ITEMCODE,ITEMNAME,FICHENO,DATE_,AMOUNT,PRICE,LINENETTOTAL,LINENET,BRANCHNR,BRANCH,SALESMAN,CITY,REGION,LATITUDE,LONGITUDE,CLIENTCODE,CLIENTNAME,BRANDCODE,BRAND,CATEGORY_NAME1,CATEGORY_NAME2,CATEGORY_NAME3,STARTDATE,ENDDATE,GENDER
0,11738.0,5863.0,SPRITE 1 LT LIMON AROMALI GAZOZ,18456,2017-01-07,1.0,2.00,2.00,1.85,52.0,Kocaeli Subesi,Eyüp CİNE,Kocaeli,Marmara,40.8533,29.8815,467369,Sercan KIZILOK,156,SPRİTE,İÇECEK,GAZLI İÇECEK,GAZOZ,2017-01-08 16:16:11,2017-01-08 16:17:13,E
1,10537.0,8.0,TOZ SEKER,18105,2017-01-06,5.0,2.65,13.25,12.27,8.0,Antalya Subesi,İlhan ÖRENLİ,Antalya,Akdeniz,36.8841,30.7056,131464,İsmet ŞINGIR,NaN,NaN,İÇECEK,ÇAY KAHVE,SEKER TATLANDIRICI,2017-01-07 11:04:34,2017-01-07 11:05:37,E

### 3- Verisetinin Orjinalınde değişiklik gelmemesei için veriyi başka bir değişkene atayın

In [8]:
df=data.copy()

### 4-Verisetinin Boyutlarına bulunuz

In [9]:
df.shape

(611108, 26)

### 5-Verisetinin Sutunlarının İsimlerini Yazdırın

In [ ]:
df.columns

Index(['ID', 'ITEMCODE', 'ITEMNAME', 'FICHENO', 'DATE_', 'AMOUNT', 'PRICE',
       'LINENETTOTAL', 'LINENET', 'BRANCHNR', 'BRANCH', 'SALESMAN', 'CITY',
       'REGION', 'LATITUDE', 'LONGITUDE', 'CLIENTCODE', 'CLIENTNAME',
       'BRANDCODE', 'BRAND', 'CATEGORY_NAME1', 'CATEGORY_NAME2',
       'CATEGORY_NAME3', 'STARTDATE', 'ENDDATE', 'GENDER'],
      dtype='object')

### 6- Veri setinin bilgilerine ulaşılması

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 611108 entries, 0 to 611107
Data columns (total 26 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   ID              611107 non-null  float64
 1   ITEMCODE        603941 non-null  float64
 2   ITEMNAME        603941 non-null  object
 3   FICHENO         611108 non-null  int64
 4   DATE_           611107 non-null  datetime64[ns]
 5   AMOUNT          611107 non-null  float64
 6   PRICE           611107 non-null  float64
 7   LINENETTOTAL    611107 non-null  float64
 8   LINENET         611107 non-null  float64
 9   BRANCHNR        611107 non-null  float64
 10  BRANCH          611107 non-null  object
 11  SALESMAN        611108 non-null  object
 12  CITY            611107 non-null  object
 13  REGION          611107 non-null  object
 14  LATITUDE        611107 non-null  float64
 15  LONGITUDE       611107 non-null  float64
 16  CLIENTCODE      592760 non-null  object
 17  CLIENTNAME      592743 non-null  object
 18  BRANDCODE       575551 non-null  object
 19  BRAND           575551 non-null  object
 20  CATEGORY_NAME1  603941 non-null  object
 21  CATEGORY_NAME2  583448 non-null  object
 22  CATEGORY_NAME3  401649 non-null  object
 23  STARTDATE       611108 non-null  datetime64[ns]
 24  ENDDATE         611108 non-null  datetime64[ns]
 25  GENDER          592743 non-null  object
dtypes: datetime64[ns](3), float64(9), int64(1), object(13)
memory usage: 121.2+ MB

### 7- Veri Setinde Boş Değer Varmı sorgulanması

In [10]:
df.isnull().any()

ID                 True
ITEMCODE           True
ITEMNAME           True
FICHENO           False
DATE_              True
AMOUNT             True
PRICE              True
LINENETTOTAL       True
LINENET            True
BRANCHNR           True
BRANCH             True
SALESMAN          False
CITY               True
REGION             True
LATITUDE           True
LONGITUDE          True
CLIENTCODE         True
CLIENTNAME         True
BRANDCODE          True
BRAND              True
CATEGORY_NAME1     True
CATEGORY_NAME2     True
CATEGORY_NAME3     True
STARTDATE         False
ENDDATE           False
GENDER             True
dtype: bool

### 8- Verisetindeki Sutunlarda Toplam Kaç Adet Değer Var Bulunuz

In [ ]:
df.isnull().sum()

ID                     1
ITEMCODE            7167
ITEMNAME            7167
FICHENO                0
DATE_                  1
AMOUNT                 1
PRICE                  1
LINENETTOTAL           1
LINENET                1
BRANCHNR               1
BRANCH                 1
SALESMAN               0
CITY                   1
REGION                 1
LATITUDE               1
LONGITUDE              1
CLIENTCODE         18348
CLIENTNAME         18365
BRANDCODE          35557
BRAND              35557
CATEGORY_NAME1      7167
CATEGORY_NAME2     27660
CATEGORY_NAME3    209459
STARTDATE              0
ENDDATE                0
GENDER             18365
dtype: int64

### 9- Verisetinde Toplam Kaç Adet Değer Var Bulunuz

In [ ]:
df.isnull().sum().sum()

384824

### 10- Verisetinde Boş Değer Olan Sutunların İsimlerini yazdıralım

In [ ]:
df.isnull().any()

ID                 True
ITEMCODE           True
ITEMNAME           True
FICHENO           False
DATE_              True
AMOUNT             True
PRICE              True
LINENETTOTAL       True
LINENET            True
BRANCHNR           True
BRANCH             True
SALESMAN          False
CITY               True
REGION             True
LATITUDE           True
LONGITUDE          True
CLIENTCODE         True
CLIENTNAME         True
BRANDCODE          True
BRAND              True
CATEGORY_NAME1     True
CATEGORY_NAME2     True
CATEGORY_NAME3     True
STARTDATE         False
ENDDATE           False
GENDER             True
dtype: bool

In [ ]:
df.isnull().any() == False ### tüm değerleri dolu olan sutunlar için

ID                False
ITEMCODE          False
ITEMNAME          False
FICHENO            True
DATE_             False
AMOUNT            False
PRICE             False
LINENETTOTAL      False
LINENET           False
BRANCHNR          False
BRANCH            False
SALESMAN           True
CITY              False
REGION            False
LATITUDE          False
LONGITUDE         False
CLIENTCODE        False
CLIENTNAME        False
BRANDCODE         False
BRAND             False
CATEGORY_NAME1    False
CATEGORY_NAME2    False
CATEGORY_NAME3    False
STARTDATE          True
ENDDATE            True
GENDER            False
dtype: bool

In [ ]:
df.columns[df.isnull().any()]

Index(['ID', 'ITEMCODE', 'ITEMNAME', 'DATE_', 'AMOUNT', 'PRICE',
       'LINENETTOTAL', 'LINENET', 'BRANCHNR', 'BRANCH', 'CITY', 'REGION',
       'LATITUDE', 'LONGITUDE', 'CLIENTCODE', 'CLIENTNAME', 'BRANDCODE',
       'BRAND', 'CATEGORY_NAME1', 'CATEGORY_NAME2', 'CATEGORY_NAME3',
       'GENDER'],
      dtype='object')

In [ ]:
df.columns[df.isnull().any() == False]

Index(['FICHENO', 'SALESMAN', 'STARTDATE', 'ENDDATE'], dtype='object')

### 11-Verisetinin Sutunlarında Kaç farklı Tip var Onu Bulalım

In [ ]:
df.dtypes.nunique()

4

### 12- Verisetinin Sutunlarındaki Eşsiz Tipler Nelerdir Onlara Bakalım

In [ ]:
df.dtypes.unique()

array([dtype('float64'), dtype('O'), dtype('int64'), dtype('<M8[ns]')],
      dtype=object)

### 13-Verisetinin İlk 5 Satırını Yazdıralım

In [ ]:
df.head()

,ID,ITEMCODE,ITEMNAME,FICHENO,DATE_,AMOUNT,PRICE,LINENETTOTAL,LINENET,BRANCHNR,BRANCH,SALESMAN,CITY,REGION,LATITUDE,LONGITUDE,CLIENTCODE,CLIENTNAME,BRANDCODE,BRAND,CATEGORY_NAME1,CATEGORY_NAME2,CATEGORY_NAME3,STARTDATE,ENDDATE,GENDER
0,11738.0,5863.0,SPRITE 1 LT LIMON AROMALI GAZOZ,18456,2017-01-07,1.0,2.00,2.00,1.85,52.0,Kocaeli Subesi,Eyüp CİNE,Kocaeli,Marmara,40.8533,29.8815,467369,Sercan KIZILOK,156,SPRİTE,İÇECEK,GAZLI İÇECEK,GAZOZ,2017-01-08 16:16:11,2017-01-08 16:17:13,E
1,10537.0,8.0,TOZ SEKER,18105,2017-01-06,5.0,2.65,13.25,12.27,8.0,Antalya Subesi,İlhan ÖRENLİ,Antalya,Akdeniz,36.8841,30.7056,131464,İsmet ŞINGIR,NaN,NaN,İÇECEK,ÇAY KAHVE,SEKER TATLANDIRICI,2017-01-07 11:04:34,2017-01-07 11:05:37,E
2,11335.0,5979.0,FALIM SAKIZ 5LI NANE,18350,2017-01-03,1.0,0.40,0.40,0.37,40.0,İstanbul Subesi,İsmet SARTIK,İstanbul,Marmara,41.0053,28.9770,656969,Yağız KUBAL,300,FALIM,GIDA,SAKIZ SEKERLEME,SAKIZ,2017-01-04 14:00:03,2017-01-04 14:01:01,E
3,11336.0,5979.0,FALIM SAKIZ 5LI NANE,18350,2017-01-03,1.0,0.40,0.40,0.37,40.0,İstanbul Subesi,İsmet SARTIK,İstanbul,Marmara,41.0053,28.9770,656969,Yağız KUBAL,300,FALIM,GIDA,SAKIZ SEKERLEME,SAKIZ,2017-01-04 14:00:03,2017-01-04 14:01:01,E
4,10115.0,12808.0,FALIM SAKIZ 5LI CILEK,18005,2017-01-05,1.0,0.40,0.40,0.37,41.0,İzmir Subesi,Gülten IŞLAK,İzmir,Ege,38.4189,27.1287,447336,Habibe AYSAN,300,FALIM,GIDA,SAKIZ SEKERLEME,SAKIZ,2017-01-06 14:00:30,2017-01-06 14:01:03,K

### 14-Verisetinin son 7 Satırını Yazdıralım

In [ ]:
df.tail(n=7)

,ID,ITEMCODE,ITEMNAME,FICHENO,DATE_,AMOUNT,PRICE,LINENETTOTAL,LINENET,BRANCHNR,BRANCH,SALESMAN,CITY,REGION,LATITUDE,LONGITUDE,CLIENTCODE,CLIENTNAME,BRANDCODE,BRAND,CATEGORY_NAME1,CATEGORY_NAME2,CATEGORY_NAME3,STARTDATE,ENDDATE,GENDER
611101,511342.0,6480.0,UNO KEPEKLI EKMEK 470GR.,134601,2017-03-18,1.0,3.25,3.25,3.22,73.0,Tekirdağ Subesi,Aleyna ÇUKUREL,Tekirdağ,Marmara,40.9833,27.5167,16670,Berat ÖGMEN,145,UNO,GIDA,UNLU MAMÜLLER,EKMEK,2017-03-19 18:54:51,2017-03-19 18:54:58,E
611102,512198.0,7.0,EKMEK 250 GR,134742,2017-03-18,1.0,0.90,0.90,0.89,40.0,İstanbul Subesi,İsmet SARTIK,İstanbul,Marmara,41.0053,28.9770,523722,Özcan PAPİR,NaN,NaN,GIDA,UNLU MAMÜLLER,EKMEK,2017-03-19 16:09:39,2017-03-19 16:11:10,E
611103,511703.0,7.0,EKMEK 250 GR,134656,2017-03-18,1.0,0.90,0.90,0.89,66.0,Sakarya Subesi,Beren BULGURCU,Sakarya,Marmara,40.6940,30.4358,374191,Mahmut BAYATGİL,NaN,NaN,GIDA,UNLU MAMÜLLER,EKMEK,2017-03-19 09:39:54,2017-03-19 09:40:50,E
611104,511496.0,7.0,EKMEK 250 GR,134630,2017-03-18,1.0,0.90,0.90,0.89,7.0,Ankara Subesi,Eda SINAV,Ankara,İç Anadolu,39.9208,32.8541,656248,Gamze BOTUÇ,NaN,NaN,GIDA,UNLU MAMÜLLER,EKMEK,2017-03-19 20:30:58,2017-03-19 20:31:17,K
611105,492612.0,7.0,EKMEK 250 GR,130100,2017-03-15,1.0,0.90,0.90,0.89,59.0,Muğla Subesi,Nisa nur SAĞIM,Muğla,Ege,37.2153,28.3636,78643,Cengiz BEREKETÇİ,NaN,NaN,GIDA,UNLU MAMÜLLER,EKMEK,2017-03-16 17:51:04,2017-03-16 17:51:18,E
611106,512343.0,7.0,EKMEK 250 GR,134762,2017-03-18,1.0,0.90,0.90,0.88,40.0,İstanbul Subesi,Arife DORAP,İstanbul,Marmara,41.0053,28.9770,926041,Elifnur EGİNKAYA,NaN,NaN,GIDA,UNLU MAMÜLLER,EKMEK,2017-03-19 17:00:12,2017-03-19 17:01:20,K
611107,512179.0,3942.0,ETI 80 GR KARAM BITTER,134738,2017-03-18,1.0,1.90,1.90,1.76,74.0,Tokat Subesi,Lütfiye DÖŞEME,Tokat,Karadeniz,40.3167,36.5500,241748,Hacer CANDEMİR,44,ETİ,GIDA,BÜSKİVİ ÇEREZ,BÜSKİVİ,2017-03-19 16:00:15,2017-03-19 16:00:37,K

### 15- Verisetinde her satır için AMOUNT PRICE LINENETTOTAL sutunlarına ait bilgileri yazdıralım

In [11]:
df.head(1)

,ID,ITEMCODE,ITEMNAME,FICHENO,DATE_,AMOUNT,PRICE,LINENETTOTAL,LINENET,BRANCHNR,BRANCH,SALESMAN,CITY,REGION,LATITUDE,LONGITUDE,CLIENTCODE,CLIENTNAME,BRANDCODE,BRAND,CATEGORY_NAME1,CATEGORY_NAME2,CATEGORY_NAME3,STARTDATE,ENDDATE,GENDER
0,11738.0,5863.0,SPRITE 1 LT LIMON AROMALI GAZOZ,18456,2017-01-07,1.0,2.0,2.0,1.85,52.0,Kocaeli Subesi,Eyüp CİNE,Kocaeli,Marmara,40.8533,29.8815,467369,Sercan KIZILOK,156,SPRİTE,İÇECEK,GAZLI İÇECEK,GAZOZ,2017-01-08 16:16:11,2017-01-08 16:17:13,E

In [ ]:
df["AMOUNT"].head()

0    1.0
1    5.0
2    1.0
3    1.0
4    1.0
Name: AMOUNT, dtype: float64

In [12]:
df["AMOUNT","PRICE"]

KeyError: ('AMOUNT', 'PRICE')

In [ ]:
df[["AMOUNT","PRICE","LINENETTOTAL"]].head()

   AMOUNT  PRICE  LINENETTOTAL
0     1.0   2.00          2.00
1     5.0   2.65         13.25
2     1.0   0.40          0.40
3     1.0   0.40          0.40
4     1.0   0.40          0.40

### 16- Verisetinde LINENETTOTAL sutunda 15 den büyük olan satırları yazdıralım

In [ ]:
df[df["LINENETTOTAL"] > 15].head(3)

,ID,ITEMCODE,ITEMNAME,FICHENO,DATE_,AMOUNT,PRICE,LINENETTOTAL,LINENET,BRANCHNR,BRANCH,SALESMAN,CITY,REGION,LATITUDE,LONGITUDE,CLIENTCODE,CLIENTNAME,BRANDCODE,BRAND,CATEGORY_NAME1,CATEGORY_NAME2,CATEGORY_NAME3,STARTDATE,ENDDATE,GENDER
62,9745.0,10429.0,YUDUM AYCICEK YAGI 5 LT TNK,17902,2017-01-06,1.0,20.49,20.49,18.97,12.0,Balıkesir Subesi,Sami KASIMOVA,Balıkesir,Ege,39.6484,27.8826,521495,Bilal PORSUK,152,YUDUM,GIDA,SIVI YAĞLAR,AYÇİÇEK,2017-01-07 14:28:00,2017-01-07 14:29:39,E
64,3322.0,19108.0,F NEFFIS AYCICEK YAGI 5 LT PET,16540,2017-01-05,1.0,17.90,17.90,16.57,39.0,Isparta Subesi,Elif nur GÜNLER,Isparta,Akdeniz,37.7648,30.5566,791614,Tayfun BATAK,49,F NEFFİS,GIDA,SIVI YAĞLAR,AYÇİÇEK,2017-01-06 20:08:26,2017-01-06 20:08:39,E
95,5317.0,6217.0,LD LODOS DENİZCİSİ SLİMS,16903,2017-01-05,10.0,5.00,50.00,50.00,70.0,Sivas Subesi,Hümeyra GEÇİCİ),Sivas,İç Anadolu,39.7477,37.0179,1021217,Kezban GÖŞELİ,163,JTİ,SİGARA,NaN,NaN,2017-01-06 13:44:22,2017-01-06 13:44:45,K

### 17- Verisetinde BRANCH ı Balıkesir Subesi olan satırları bulalım

In [ ]:
df["BRANCH"].head()

0     Kocaeli Subesi
1     Antalya Subesi
2    İstanbul Subesi
3    İstanbul Subesi
4       İzmir Subesi
Name: BRANCH, dtype: object

In [ ]:
df["BRANCH"].unique()

array(['Kocaeli Subesi', 'Antalya Subesi', 'İstanbul Subesi',
       'İzmir Subesi', 'Elazığ Subesi', 'Malatya Subesi', 'Manisa Subesi',
       'Muğla Subesi', 'Muş Subesi', 'Adana Subesi', 'Sakarya Subesi',
       'Zonguldak Subesi', 'Balıkesir Subesi', 'Kırıkkale Subesi',
       'Gaziantep Subesi', 'Osmaniye Subesi', 'Mersin Subesi',
       'Kastamonu Subesi', 'Batman Subesi', 'Tekirdağ Subesi',
       'Şanlıurfa Subesi', 'Niğde Subesi', 'Ankara Subesi',
       'Eskişehir Subesi', 'Diyarbakır Subesi', 'Iğdır Subesi',
       'Isparta Subesi', 'Bursa Subesi', 'Kahramanmaraş Subesi',
       'Denizli Subesi', 'Mardin Subesi', 'Afyonkarahisar Subesi',
       'Erzurum Subesi', 'Sivas Subesi', 'Hatay Subesi', 'Ordu Subesi',
       'Şırnak Subesi', 'Uşak Subesi', 'Konya Subesi', 'Çorum Subesi',
       'Samsun Subesi', 'Edirne Subesi', 'Çanakkale Subesi',
       'Kayseri Subesi', 'Aydın Subesi', 'Bolu Subesi', 'Giresun Subesi',
       'Tokat Subesi', 'Adıyaman Subesi', 'Kırşehir Subesi',
       'Yozgat Subesi', 'Trabzon Subesi', 'Van Subesi', 'Ağrı Subesi',
       'Kütahya Subesi', 'Kars Subesi', 'Gümüşhane Subesi',
       'Sinop Subesi', 'Nevşehir Subesi', 'Karabük Subesi',
       'Bayburt Subesi', 'Amasya Subesi', 'Siirt Subesi', 'Burdur Subesi',
       'Aksaray Subesi', 'Rize Subesi', 'Artvin Subesi',
       'Kırklareli Subesi', 'Hakkari Subesi', 'Düzce Subesi',
       'Kilis Subesi', 'Bilecik Subesi', 'Erzincan Subesi',
       'Çankırı Subesi', 'Bartın Subesi', 'Yalova Subesi',
       'Bitlis Subesi', 'Karaman Subesi', 'Bingöl Subesi', nan,
       'Ardahan Subesi', 'Tunceli Subesi'], dtype=object)

In [ ]:
df[df["BRANCH"] == "Balıkesir Subesi"].head(3)

,ID,ITEMCODE,ITEMNAME,FICHENO,DATE_,AMOUNT,PRICE,LINENETTOTAL,LINENET,BRANCHNR,BRANCH,SALESMAN,CITY,REGION,LATITUDE,LONGITUDE,CLIENTCODE,CLIENTNAME,BRANDCODE,BRAND,CATEGORY_NAME1,CATEGORY_NAME2,CATEGORY_NAME3,STARTDATE,ENDDATE,GENDER
15,9625.0,5780.0,SALKIM DOMATES,17865,2017-01-06,0.945,5.20,4.91,4.55,12.0,Balıkesir Subesi,Sami KASIMOVA,Balıkesir,Ege,39.6484,27.8826,74884,Miray KOÇOĞLU,A25,HAL,MEYVE SEBZE,SEBZE,NaN,2017-01-07 11:12:54,2017-01-07 11:13:35,K
16,9748.0,5715.0,PATATES,17902,2017-01-06,2.790,2.45,6.84,6.33,12.0,Balıkesir Subesi,Sami KASIMOVA,Balıkesir,Ege,39.6484,27.8826,521495,Bilal PORSUK,A25,HAL,MEYVE SEBZE,SEBZE,NaN,2017-01-07 14:28:00,2017-01-07 14:29:39,E
62,9745.0,10429.0,YUDUM AYCICEK YAGI 5 LT TNK,17902,2017-01-06,1.000,20.49,20.49,18.97,12.0,Balıkesir Subesi,Sami KASIMOVA,Balıkesir,Ege,39.6484,27.8826,521495,Bilal PORSUK,152,YUDUM,GIDA,SIVI YAĞLAR,AYÇİÇEK,2017-01-07 14:28:00,2017-01-07 14:29:39,E

### 18- Verisetinde Balıkesir Subesinde LINENETTOTAL i 2 den düsük olan satırları bulalım

In [ ]:
df["LINENETTOTAL"] < 2

0         False
1         False
2          True
3          True
4          True
          ...
611103     True
611104     True
611105     True
611106     True
611107     True
Name: LINENETTOTAL, Length: 611108, dtype: bool

In [ ]:
df[df["LINENETTOTAL"] < 2].head(1)

,ID,ITEMCODE,ITEMNAME,FICHENO,DATE_,AMOUNT,PRICE,LINENETTOTAL,LINENET,BRANCHNR,BRANCH,SALESMAN,CITY,REGION,LATITUDE,LONGITUDE,CLIENTCODE,CLIENTNAME,BRANDCODE,BRAND,CATEGORY_NAME1,CATEGORY_NAME2,CATEGORY_NAME3,STARTDATE,ENDDATE,GENDER
2,11335.0,5979.0,FALIM SAKIZ 5LI NANE,18350,2017-01-03,1.0,0.4,0.4,0.37,40.0,İstanbul Subesi,İsmet SARTIK,İstanbul,Marmara,41.0053,28.977,656969,Yağız KUBAL,300,FALIM,GIDA,SAKIZ SEKERLEME,SAKIZ,2017-01-04 14:00:03,2017-01-04 14:01:01,E

In [ ]:
df["BRANCH"] == "Balıkesir Subesi"

0         False
1         False
2         False
3         False
4         False
          ...
611103    False
611104    False
611105    False
611106    False
611107    False
Name: BRANCH, Length: 611108, dtype: bool

In [ ]:
df[df["BRANCH"] == "Balıkesir Subesi"].head(1)

,ID,ITEMCODE,ITEMNAME,FICHENO,DATE_,AMOUNT,PRICE,LINENETTOTAL,LINENET,BRANCHNR,BRANCH,SALESMAN,CITY,REGION,LATITUDE,LONGITUDE,CLIENTCODE,CLIENTNAME,BRANDCODE,BRAND,CATEGORY_NAME1,CATEGORY_NAME2,CATEGORY_NAME3,STARTDATE,ENDDATE,GENDER
15,9625.0,5780.0,SALKIM DOMATES,17865,2017-01-06,0.945,5.2,4.91,4.55,12.0,Balıkesir Subesi,Sami KASIMOVA,Balıkesir,Ege,39.6484,27.8826,74884,Miray KOÇOĞLU,A25,HAL,MEYVE SEBZE,SEBZE,NaN,2017-01-07 11:12:54,2017-01-07 11:13:35,K

In [ ]:
df[(df["LINENETTOTAL"] < 2) & (df["BRANCH"] == "Balıkesir Subesi")].head(1)

,ID,ITEMCODE,ITEMNAME,FICHENO,DATE_,AMOUNT,PRICE,LINENETTOTAL,LINENET,BRANCHNR,BRANCH,SALESMAN,CITY,REGION,LATITUDE,LONGITUDE,CLIENTCODE,CLIENTNAME,BRANDCODE,BRAND,CATEGORY_NAME1,CATEGORY_NAME2,CATEGORY_NAME3,STARTDATE,ENDDATE,GENDER
188,9624.0,5737.0,PIRASA,17865,2017-01-06,1.1,1.6,1.76,1.63,12.0,Balıkesir Subesi,Sami KASIMOVA,Balıkesir,Ege,39.6484,27.8826,74884,Miray KOÇOĞLU,A25,HAL,MEYVE SEBZE,SEBZE,NaN,2017-01-07 11:12:54,2017-01-07 11:13:35,K

### 19- Verisetindeki Sutunlardan ITEMNAME => URUN_ADI , ITEMCODE=> URUN_ID,BRANCH=>SUBE_ADI olarak değiştirin

In [ ]:
#### sutun isimlerini değiştirmek için kullanılan method rename
df.rename(columns = {"ITEMNAME":"URUN_ADI",
                    "ITEMCODE":"URUN_ID",
                    "BRANCH" :"SUBE_ADI"},inplace = True)

In [ ]:
df.head(1)

,ID,ITEMCODE,ITEMNAME,FICHENO,DATE_,AMOUNT,PRICE,LINENETTOTAL,LINENET,BRANCHNR,BRANCH,SALESMAN,CITY,REGION,LATITUDE,LONGITUDE,CLIENTCODE,CLIENTNAME,BRANDCODE,BRAND,CATEGORY_NAME1,CATEGORY_NAME2,CATEGORY_NAME3,STARTDATE,ENDDATE,GENDER
0,11738.0,5863.0,SPRITE 1 LT LIMON AROMALI GAZOZ,18456,2017-01-07,1.0,2.0,2.0,1.85,52.0,Kocaeli Subesi,Eyüp CİNE,Kocaeli,Marmara,40.8533,29.8815,467369,Sercan KIZILOK,156,SPRİTE,İÇECEK,GAZLI İÇECEK,GAZOZ,2017-01-08 16:16:11,2017-01-08 16:17:13,E

### 20- Verisetimizin 100-103 arasındaki satırlarının ID den LINENETTOTAL a kadar olan sutunlardaki değerlerini yazdırınız.

In [ ]:
df.loc[100,"ID"]

662.0

In [ ]:
df.loc[100:103,"ID"]

100     662.0
101    5059.0
102    9514.0
103    9208.0
Name: ID, dtype: float64

In [ ]:
df.loc[100,"ID":"LINENETTOTAL"]

ID                                                 662
ITEMCODE                                         23467
ITEMNAME        BURDAN 30 LU BUYUK BOY KAPAKLI YUMURTA
FICHENO                                          15772
DATE_                              2017-01-02 00:00:00
AMOUNT                                               1
PRICE                                             9.95
LINENETTOTAL                                      9.95
Name: 100, dtype: object

In [ ]:
df.loc[100:103,"ID":"LINENETTOTAL"]

,ID,URUN_ID,URUN_ADI,FICHENO,DATE_,AMOUNT,PRICE,LINENETTOTAL
100,662.0,23467.0,BURDAN 30 LU BUYUK BOY KAPAKLI YUMURTA,15772,2017-01-02,1.0,9.95,9.95
101,5059.0,446.0,ULKER COKOKREM 700GR.-1202-,16839,2017-01-05,1.0,8.25,8.25
102,9514.0,2660.0,NESTLE NESQUIK 500 GR %20 BEDAVA,17836,2017-01-06,1.0,5.90,5.90
103,9208.0,263.0,YAHYAOGLU 15 LI YUMURTA,17752,2017-01-06,1.0,4.85,4.85

In [ ]:
df.loc[100:103,"LINENETTOTAL":]

,LINENETTOTAL,LINENET,BRANCHNR,BRANCH,SALESMAN,CITY,REGION,LATITUDE,LONGITUDE,CLIENTCODE,CLIENTNAME,BRANDCODE,BRAND,CATEGORY_NAME1,CATEGORY_NAME2,CATEGORY_NAME3,STARTDATE,ENDDATE,GENDER
100,9.95,9.22,3.0,Afyonkarahisar Subesi,Rahime ARPACIOGLU,Afyonkarahisar,Ege,38.7507,30.5567,747931,Remziye İNCİKAPI,172,BURDAN,SÜT KAHVALTILIK,YUMURTA,NaN,2017-01-03 18:30:16,2017-01-03 18:31:44,K
101,8.25,7.64,40.0,İstanbul Subesi,İsmet SARTIK,İstanbul,Marmara,41.0053,28.9770,327636,Hatice TEKİNSİZ,146,ÜLKER,SÜT KAHVALTILIK,KAHVALTILIK,KREM ÇİKOLATA,2017-01-06 17:36:36,2017-01-06 17:38:22,K
102,5.90,5.46,42.0,Kahramanmaraş Subesi,Masal ATASEVEN,Kahramanmaraş,Akdeniz,37.5858,36.9371,575440,Duygu ERZİNCANLI,97,NESTLE,SÜT KAHVALTILIK,KAHVALTILIK,KREM ÇİKOLATA,2017-01-07 19:24:42,2017-01-07 19:24:52,K
103,4.85,4.49,63.0,Ordu Subesi,Veli KARTALK,Ordu,Karadeniz,40.9839,37.8764,251502,Kadir KARTALOĞLU,341,YAHYAOĞLU,SÜT KAHVALTILIK,YUMURTA,NaN,2017-01-07 14:16:09,2017-01-07 14:16:38,E

In [ ]:
df.loc[100,"LINENETTOTAL":]

LINENETTOTAL                       9.95
LINENET                            9.22
BRANCHNR                              3
BRANCH            Afyonkarahisar Subesi
SALESMAN              Rahime ARPACIOGLU
CITY                     Afyonkarahisar
REGION                              Ege
LATITUDE                        38.7507
LONGITUDE                       30.5567
CLIENTCODE                       747931
CLIENTNAME             Remziye İNCİKAPI
BRANDCODE                           172
BRAND                            BURDAN
CATEGORY_NAME1          SÜT KAHVALTILIK
CATEGORY_NAME2                  YUMURTA
CATEGORY_NAME3                      NaN
STARTDATE           2017-01-03 18:30:16
ENDDATE             2017-01-03 18:31:44
GENDER                                K
Name: 100, dtype: object

### 21- Verisetindeki CATEGORY_NAME3 sutununu verisetinden silelim

In [ ]:
df.drop("CATEGORY_NAME3",axis = 1, inplace=True)

### 22- Verisetinde URUN_ID sutunun en büyük değerini bulun ve ona göre boş değerlere bir değer atayın

In [ ]:
df["URUN_ID"].max()

23602.0

In [ ]:
df["URUN_ID"] = df["URUN_ID"].fillna(99999)

In [ ]:
df.URUN_ID.isnull().any()

False

### 23- Verisetinde Bulunan URUN_ADI kısmındaki değerlere "BİLİNMEYEN ÜRÜN" atayın

In [ ]:
df["URUN_ADI"].isnull()

0         False
1         False
2         False
3         False
4         False
          ...
611103    False
611104    False
611105    False
611106    False
611107    False
Name: URUN_ADI, Length: 611108, dtype: bool

In [ ]:
df[df["URUN_ADI"].isnull()].head(1)

,ID,URUN_ID,URUN_ADI,FICHENO,DATE_,AMOUNT,PRICE,LINENETTOTAL,LINENET,BRANCHNR,SUBE_ADI,SALESMAN,CITY,REGION,LATITUDE,LONGITUDE,CLIENTCODE,CLIENTNAME,BRANDCODE,BRAND,CATEGORY_NAME1,CATEGORY_NAME2,STARTDATE,ENDDATE,GENDER
49,5139.0,99999.0,NaN,16853,2017-01-05,1.0,1.75,1.75,1.48,64.0,Osmaniye Subesi,Muhammed Ali KUŞOGLU,Osmaniye,Akdeniz,37.213,36.1763,736930,Yüksel GENÇBAY,NaN,NaN,NaN,NaN,2017-01-06 19:12:01,2017-01-06 19:12:36,K

In [ ]:
df.loc[df["URUN_ADI"].isnull(),"URUN_ADI"]

49        NaN
50        NaN
51        NaN
52        NaN
53        NaN
         ...
608865    NaN
608866    NaN
608867    NaN
608868    NaN
608869    NaN
Name: URUN_ADI, Length: 7167, dtype: object

In [ ]:
df.loc[(df["URUN_ADI"].isnull()),"URUN_ADI"] = "BİLİNMEYEN ÜRÜN"

In [ ]:
df.loc[49,"URUN_ADI"]

'BİLİNMEYEN ÜRÜN'

### 24- Verisetinde Bulunan CLIENTCODE sutunun boş değerlerine "#unk999"atayın

In [ ]:
df["CLIENTCODE"].isnull()

0         False
1         False
2         False
3         False
4         False
          ...
611103    False
611104    False
611105    False
611106    False
611107    False
Name: CLIENTCODE, Length: 611108, dtype: bool

In [ ]:
df[df["CLIENTCODE"].isnull()].head(1)

,ID,URUN_ID,URUN_ADI,FICHENO,DATE_,AMOUNT,PRICE,LINENETTOTAL,LINENET,BRANCHNR,SUBE_ADI,SALESMAN,CITY,REGION,LATITUDE,LONGITUDE,CLIENTCODE,CLIENTNAME,BRANDCODE,BRAND,CATEGORY_NAME1,CATEGORY_NAME2,STARTDATE,ENDDATE,GENDER
51,9460.0,99999.0,BİLİNMEYEN ÜRÜN,17825,2017-01-06,1.0,2.57,2.57,2.38,73.0,Tekirdağ Subesi,Deniz ŞİŞMEN,Tekirdağ,Marmara,40.9833,27.5167,NaN,NaN,NaN,NaN,NaN,NaN,2017-01-07 18:44:01,2017-01-07 18:44:39,NaN

In [ ]:
df.loc[(df["CLIENTCODE"].isnull()),"CLIENTCODE"]

51        NaN
94        NaN
117       NaN
124       NaN
143       NaN
         ...
610913    NaN
610914    NaN
610968    NaN
610971    NaN
611071    NaN
Name: CLIENTCODE, Length: 18348, dtype: object

In [ ]:
df.loc[(df["CLIENTCODE"].isnull()),"CLIENTCODE"] = "#unk999"

In [ ]:
df.loc[[51,94,117],"CLIENTCODE"]

51     #unk999
94     #unk999
117    #unk999
Name: CLIENTCODE, dtype: object

### 25- Verisetinde Bulunan CLIENTNAME sutunun boş değerlerine "BILINMEYEN MUSTERI" atayın

In [ ]:
df.CLIENTNAME.isnull()

0         False
1         False
2         False
3         False
4         False
          ...
611103    False
611104    False
611105    False
611106    False
611107    False
Name: CLIENTNAME, Length: 611108, dtype: bool

In [ ]:
df[df.CLIENTNAME.isnull()].head(1)

,ID,URUN_ID,URUN_ADI,FICHENO,DATE_,AMOUNT,PRICE,LINENETTOTAL,LINENET,BRANCHNR,SUBE_ADI,SALESMAN,CITY,REGION,LATITUDE,LONGITUDE,CLIENTCODE,CLIENTNAME,BRANDCODE,BRAND,CATEGORY_NAME1,CATEGORY_NAME2,STARTDATE,ENDDATE,GENDER
51,9460.0,99999.0,BİLİNMEYEN ÜRÜN,17825,2017-01-06,1.0,2.57,2.57,2.38,73.0,Tekirdağ Subesi,Deniz ŞİŞMEN,Tekirdağ,Marmara,40.9833,27.5167,#unk999,NaN,NaN,NaN,NaN,NaN,2017-01-07 18:44:01,2017-01-07 18:44:39,NaN

In [ ]:
df.loc[(df["CLIENTNAME"].isnull()),"CLIENTNAME"]

51        NaN
94        NaN
117       NaN
124       NaN
143       NaN
         ...
610913    NaN
610914    NaN
610968    NaN
610971    NaN
611071    NaN
Name: CLIENTNAME, Length: 18365, dtype: object

In [ ]:
df.loc[(df["CLIENTNAME"].isnull()),"CLIENTNAME"] = "BILINMEYEN MUSTERI"

### 26- Verisetinde CATEGORY_NAME1 i dolu oup CATEGORY_NAME2 boş olan satırlar var bu satırlarda CATEGORY_NAME2 kısmına CATEGORY_NAME1 deki değeri atayalım

In [ ]:
df.loc[[55,1302],["CATEGORY_NAME1","CATEGORY_NAME2"]]

     CATEGORY_NAME1 CATEGORY_NAME2
55           SİGARA            NaN
1302       KOZMETİK            NaN

In [ ]:
df[df["CATEGORY_NAME2"].isnull()].head(1)

,ID,URUN_ID,URUN_ADI,FICHENO,DATE_,AMOUNT,PRICE,LINENETTOTAL,LINENET,BRANCHNR,SUBE_ADI,SALESMAN,CITY,REGION,LATITUDE,LONGITUDE,CLIENTCODE,CLIENTNAME,BRANDCODE,BRAND,CATEGORY_NAME1,CATEGORY_NAME2,STARTDATE,ENDDATE,GENDER
49,5139.0,99999.0,BİLİNMEYEN ÜRÜN,16853,2017-01-05,1.0,1.75,1.75,1.48,64.0,Osmaniye Subesi,Muhammed Ali KUŞOGLU,Osmaniye,Akdeniz,37.213,36.1763,736930,Yüksel GENÇBAY,NaN,NaN,NaN,NaN,2017-01-06 19:12:01,2017-01-06 19:12:36,K

In [ ]:
df["CATEGORY_NAME1"].notnull()

0         True
1         True
2         True
3         True
4         True
          ...
611103    True
611104    True
611105    True
611106    True
611107    True
Name: CATEGORY_NAME1, Length: 611108, dtype: bool

In [ ]:
(df[(df["CATEGORY_NAME1"].notnull() & df["CATEGORY_NAME2"].isnull())])[["CATEGORY_NAME1","CATEGORY_NAME2"]].head(3)

   CATEGORY_NAME1 CATEGORY_NAME2
55         SİGARA            NaN
69         SİGARA            NaN
70         SİGARA            NaN

In [ ]:
a=(df[(df["CATEGORY_NAME1"].notnull() & df["CATEGORY_NAME2"].isnull())])["CATEGORY_NAME1"]

In [ ]:
df.loc[(df["CATEGORY_NAME1"].notnull() & df["CATEGORY_NAME2"].isnull()),"CATEGORY_NAME2"] = a

In [ ]:
df.loc[[55,1302],["CATEGORY_NAME1","CATEGORY_NAME2"]]

     CATEGORY_NAME1 CATEGORY_NAME2
55           SİGARA         SİGARA
1302       KOZMETİK       KOZMETİK

### 27- Verisetinde Alışveriş Yapan Kişilerin Cinsiyet Sutunundaki NaN değerleri U ile Değiştirin

In [ ]:
df["GENDER"].isnull()

0         False
1         False
2         False
3         False
4         False
          ...
611103    False
611104    False
611105    False
611106    False
611107    False
Name: GENDER, Length: 611108, dtype: bool

In [ ]:
df[df["GENDER"].isnull()].head(1)

,ID,URUN_ID,URUN_ADI,FICHENO,DATE_,AMOUNT,PRICE,LINENETTOTAL,LINENET,BRANCHNR,SUBE_ADI,SALESMAN,CITY,REGION,LATITUDE,LONGITUDE,CLIENTCODE,CLIENTNAME,BRANDCODE,BRAND,CATEGORY_NAME1,CATEGORY_NAME2,STARTDATE,ENDDATE,GENDER
51,9460.0,99999.0,BİLİNMEYEN ÜRÜN,17825,2017-01-06,1.0,2.57,2.57,2.38,73.0,Tekirdağ Subesi,Deniz ŞİŞMEN,Tekirdağ,Marmara,40.9833,27.5167,#unk999,NaN,NaN,NaN,NaN,NaN,2017-01-07 18:44:01,2017-01-07 18:44:39,NaN

In [ ]:
df.loc[(df["GENDER"].isnull()),"GENDER"][51]

nan

In [ ]:
df.loc[(df["GENDER"].isnull()),"GENDER"] = "U"

In [ ]:
df.loc[51,"GENDER"]

'U'

### 28-Verisetinde BRANDCODE ve BRAND sutunlarında sutunlarında boş değerlere #UN999 ve UNNBRD değerlerini atayalım

In [ ]:
df["BRANDCODE"].isnull()

0         False
1          True
2         False
3         False
4         False
          ...
611103     True
611104     True
611105     True
611106     True
611107    False
Name: BRANDCODE, Length: 611108, dtype: bool

In [ ]:
df[df["BRANDCODE"].isna()].head(1)

,ID,URUN_ID,URUN_ADI,FICHENO,DATE_,AMOUNT,PRICE,LINENETTOTAL,LINENET,BRANCHNR,SUBE_ADI,SALESMAN,CITY,REGION,LATITUDE,LONGITUDE,CLIENTCODE,CLIENTNAME,BRANDCODE,BRAND,CATEGORY_NAME1,CATEGORY_NAME2,STARTDATE,ENDDATE,GENDER
1,10537.0,8.0,TOZ SEKER,18105,2017-01-06,5.0,2.65,13.25,12.27,8.0,Antalya Subesi,İlhan ÖRENLİ,Antalya,Akdeniz,36.8841,30.7056,131464,İsmet ŞINGIR,NaN,NaN,İÇECEK,ÇAY KAHVE,2017-01-07 11:04:34,2017-01-07 11:05:37,E

In [ ]:
df.loc[df["BRANDCODE"].isna(),"BRANDCODE"]

1         NaN
5         NaN
7         NaN
8         NaN
49        NaN
         ...
611102    NaN
611103    NaN
611104    NaN
611105    NaN
611106    NaN
Name: BRANDCODE, Length: 35557, dtype: object

In [ ]:
df.loc[(df["BRANDCODE"].isnull()),"BRANDCODE"] = "#UN999"

In [ ]:
df.loc[(df["BRAND"].isnull()),"BRAND"] = "UNNBRD"

### 29-Verisetinde CATEGORY_NAME1  ve CATEGORY_NAME2 sutunlarında sutunlarında boş değerlere UNKCATG değerlerini atayalım

In [ ]:
df[(df["CATEGORY_NAME2"].isnull()) & (df["CATEGORY_NAME1"].isnull())].head(1)

,ID,URUN_ID,URUN_ADI,FICHENO,DATE_,AMOUNT,PRICE,LINENETTOTAL,LINENET,BRANCHNR,SUBE_ADI,SALESMAN,CITY,REGION,LATITUDE,LONGITUDE,CLIENTCODE,CLIENTNAME,BRANDCODE,BRAND,CATEGORY_NAME1,CATEGORY_NAME2,STARTDATE,ENDDATE,GENDER
49,5139.0,99999.0,BİLİNMEYEN ÜRÜN,16853,2017-01-05,1.0,1.75,1.75,1.48,64.0,Osmaniye Subesi,Muhammed Ali KUŞOGLU,Osmaniye,Akdeniz,37.213,36.1763,736930,Yüksel GENÇBAY,#UN999,UNNBRD,NaN,NaN,2017-01-06 19:12:01,2017-01-06 19:12:36,K

In [ ]:
df.loc[(df["CATEGORY_NAME1"].isnull()),"CATEGORY_NAME1"] = "UNKCATG"

In [ ]:
df.loc[(df["CATEGORY_NAME2"].isnull()),"CATEGORY_NAME2"] = "UNKCATG"

### 30- Verisetinde Kalan Boş Değerleri Silelim

In [ ]:
df=df.dropna()

### 31- Mağazamızda Çalısan Eleman Sayısını Bulunuz

In [ ]:
df["SALESMAN"].nunique()

1331

### 32-Şirketimizin Hangi Bölgelerde Kaç Subesi Var Onu Yazdıralım

In [ ]:
df.groupby("REGION").agg({"SUBE_ADI":"nunique"})

                   SUBE_ADI
REGION
Akdeniz                   8
Doğu Anadolu             14
Ege                       9
Güneydoğu Anadolu         9
Karadeniz                18
Marmara                  10
İç Anadolu               13

### 33-En Çok Ücret Alan Fiş No ve o fişin toplam tutarını yazdırın.

In [ ]:
df.groupby("FICHENO").agg({"LINENETTOTAL":"sum"}).sort_values("LINENETTOTAL", ascending = False).head()

         LINENETTOTAL
FICHENO
144857        8556.00
65232         5568.40
52800         3642.52
23212         2960.79
107960        2168.33

In [ ]:
df.groupby("FICHENO").agg({"LINENETTOTAL":"sum"}).sort_values("LINENETTOTAL", ascending = False).head().index[0]

144857

In [ ]:
df.groupby("FICHENO").agg({"LINENETTOTAL":"sum"}).sort_values("LINENETTOTAL", ascending = False).head().values[0][0]

8556.0

### 34-  Şirketimizin Hangi Bölgede Ne Kadar Müşterisi Var onu yazdıralım

In [ ]:
df.groupby("REGION").agg({"CLIENTCODE":"nunique"})

                   CLIENTCODE
REGION
Akdeniz                 14611
Doğu Anadolu             9178
Ege                     16219
Güneydoğu Anadolu       12566
Karadeniz               13174
Marmara                 27423
İç Anadolu              17633

### 35- En Çok ürün Alan Fiş No

In [ ]:
df.groupby("FICHENO").agg({"AMOUNT":"sum"}).sort_values("AMOUNT",ascending=False)

           AMOUNT
FICHENO
65232    1017.000
59816     631.242
122415    316.000
138177    258.000
37557     246.000
...           ...
67559       0.010
67484       0.005
136847      0.002
140432      0.002
100426      0.002

[142611 rows x 1 columns]

### 36-En Çok Ciro Yapan Şube ve o şubenin müşteri sayısını bulun

In [ ]:
df.groupby("SUBE_ADI").agg({"LINENETTOTAL":"sum",
                         "CLIENTCODE":"nunique"}).sort_values("LINENETTOTAL",ascending=False)

                 LINENETTOTAL  CLIENTCODE
SUBE_ADI
İstanbul Subesi     458500.33       19213
Ankara Subesi       167015.15        8169
İzmir Subesi        131814.45        6641
Bursa Subesi         81148.86        4678
Antalya Subesi       75283.40        3721
...                       ...         ...
Bartın Subesi         4758.74         320
Kilis Subesi          4663.51         262
Ardahan Subesi        2887.15         172
Tunceli Subesi        2586.63         140
Bayburt Subesi        2044.47         123

[81 rows x 2 columns]

### 37-Müşterilerin Kasada En Çok Vakit Geçirdikleri Şube

In [ ]:
df[["ENDDATE","STARTDATE"]].dtypes

ENDDATE      datetime64[ns]
STARTDATE    datetime64[ns]
dtype: object

In [ ]:
import datetime

In [ ]:
df["PASSING_TIME"] = df["ENDDATE"] - df["STARTDATE"]

E:\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
df["PASSING_TIME"].head(1)

0   0 days 00:01:02
Name: PASSING_TIME, dtype: timedelta64[ns]

In [ ]:
df["PASSING_TIME2"] = df["PASSING_TIME"].apply(lambda x : str(x))

In [ ]:
df["PASSING_TIME2"].head(1)

0    0 days 00:01:02
Name: PASSING_TIME2, dtype: object

In [ ]:
"0 days 00:01:02".split()

['0', 'days', '00:01:02']

In [ ]:
'00:01:02'.split(":")

['00', '01', '02']

In [ ]:
def second(str_date):
    a= str_date.split()
    b= a[2].split(":")
    c=(int(b[0])*3600)+(int(b[1])*60)+int(b[2])
    return c

In [ ]:
df["PASSING_TIME3"] = df["PASSING_TIME2"].apply(second)

In [ ]:
df["PASSING_TIME3"].head(3)

0    62
1    63
2    58
Name: PASSING_TIME3, dtype: int64

In [ ]:
fis=df.groupby(["FICHENO","SUBE_ADI"]).agg({"PASSING_TIME3":"mean"})
fis.head(3)

                         PASSING_TIME3
FICHENO SUBE_ADI
15560   Batman Subesi               40
15561   İstanbul Subesi             40
15562   Adıyaman Subesi             37

In [ ]:
fis = fis.reset_index()
fis.head(3)

   FICHENO         SUBE_ADI  PASSING_TIME3
0    15560    Batman Subesi             40
1    15561  İstanbul Subesi             40
2    15562  Adıyaman Subesi             37

In [ ]:
fis.groupby("SUBE_ADI").agg({"PASSING_TIME3":"mean"}).sort_values("PASSING_TIME3",ascending=False)

                  PASSING_TIME3
SUBE_ADI
Hatay Subesi          35.946652
Kırşehir Subesi       32.310905
Adıyaman Subesi       31.814359
Erzincan Subesi       31.616708
Kayseri Subesi        31.405829
...                         ...
Tunceli Subesi        26.978417
Gümüşhane Subesi      26.907143
Bingöl Subesi         26.698482
Bilecik Subesi        26.558011
Bolu Subesi           26.399621

[81 rows x 1 columns]

### 38-Haftanın Günleri Bas Alınarak Ortalama cironun en yüksek olduğu gün hangisi

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 592743 entries, 0 to 611107
Data columns (total 28 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   ID              592743 non-null  float64
 1   URUN_ID         592743 non-null  float64
 2   URUN_ADI        592743 non-null  object
 3   FICHENO         592743 non-null  int64
 4   DATE_           592743 non-null  datetime64[ns]
 5   AMOUNT          592743 non-null  float64
 6   PRICE           592743 non-null  float64
 7   LINENETTOTAL    592743 non-null  float64
 8   LINENET         592743 non-null  float64
 9   BRANCHNR        592743 non-null  float64
 10  SUBE_ADI        592743 non-null  object
 11  SALESMAN        592743 non-null  object
 12  CITY            592743 non-null  object
 13  REGION          592743 non-null  object
 14  LATITUDE        592743 non-null  float64
 15  LONGITUDE       592743 non-null  float64
 16  CLIENTCODE      592743 non-null  object
 17  CLIENTNAME      592743 non-null  object
 18  BRANDCODE       592743 non-null  object
 19  BRAND           592743 non-null  object
 20  CATEGORY_NAME1  592743 non-null  object
 21  CATEGORY_NAME2  592743 non-null  object
 22  STARTDATE       592743 non-null  datetime64[ns]
 23  ENDDATE         592743 non-null  datetime64[ns]
 24  GENDER          592743 non-null  object
 25  PASSING_TIME    592743 non-null  timedelta64[ns]
 26  PASSING_TIME2   592743 non-null  object
 27  PASSING_TIME3   592743 non-null  int64
dtypes: datetime64[ns](3), float64(9), int64(2), object(13), timedelta64[ns](1)
memory usage: 131.1+ MB

In [ ]:
### verisetinde orjinal sutunlar lazım olur diye baska bir sutun olusturuyoruz type i object olan
df["DATE_2"]=df["DATE_"].apply(lambda x: str(x))

In [ ]:
datetime.datetime.strptime("2021-04-11","%Y-%m-%d")

datetime.datetime(2021, 4, 11, 0, 0)

In [ ]:
datetime.datetime.strptime("2021-04-11","%Y-%m-%d").weekday()

6

In [ ]:
datetime.date(2021,4,11).weekday()

6

In [ ]:
### günleri bulacağımız fonksiyonu tanımlıyoruz
def day(str_date,date_format):
    import datetime
    dayName = ["Pazartesi","Salı","Çarşamba","Perşembe","Cuma","Cumartesi","Pazar"]
    day = datetime.datetime.strptime(str_date, date_format).weekday()
    return(dayName[day])

In [ ]:
### Haftanın Hangi günü olduğunu belirten bir sutun olusturuyoruz
df["DAY"]= df["DATE_2"].apply(lambda x: day(x.split()[0],"%Y-%m-%d"))

In [ ]:
### en çok alışveriş yapılan günleri buluyoruz
df.groupby("DAY").agg({"LINENETTOTAL":"sum"}).sort_values("LINENETTOTAL",ascending=False)

           LINENETTOTAL
DAY
Salı          414207.45
Perşembe      387150.51
Cuma          348014.85
Cumartesi     343658.36
Pazartesi     321736.97
Pazar         308498.59
Çarşamba      278949.35

### 39-Ayın Hangi Günlerinde En Yüksek Çiro Yapılmıs?

In [ ]:
### ayın günlerinin gösteren bir sutun olusturuyoruz
df["MONTH_DAY"] = df["DATE_2"].apply(lambda x: int((x.split()[0]).split("-")[2]))

In [ ]:
## ve hangi gün ne kadarlık bir alışveriş yapılmıs oan bakıyoruz
df.groupby("MONTH_DAY").agg({"LINENETTOTAL":"sum"}).sort_values("LINENETTOTAL",ascending=False)

           LINENETTOTAL
MONTH_DAY
14             97917.34
24             95950.73
28             94921.02
21             92689.22
7              90956.57
23             90813.19
16             89477.00
17             89163.03
10             88953.09
20             86121.36
9              85109.51
19             84259.80
25             83847.89
26             82906.26
18             79331.21
12             79071.59
11             75552.29
27             75513.66
6              73948.95
15             72773.38
13             72711.51
8              71604.80
5              71239.24
4              70642.36
22             70028.67
2              67991.69
31             60697.26
3              59176.79
30             53320.46
29             48645.98
1              46880.23

### 40- Günün Hangi Saatlerinde Yoğunluk daha Fazla Olmakta

In [ ]:
### part time eleman alacağız ama hangi saatler arasında alırsak daha fazla iş yapar ve maliyeti ve yoğunluğu düşürüz

In [ ]:
### fişin baslangıç saatlerini string e çevirdik
df["STARTDATE2"]=df["STARTDATE"].apply(lambda x: str(x))

In [ ]:
### yapacağımız split işlemi için bir göz attık
df["STARTDATE2"].head()

0    2017-01-08 16:16:11
1    2017-01-07 11:04:34
2    2017-01-04 14:00:03
3    2017-01-04 14:00:03
4    2017-01-06 14:00:30
Name: STARTDATE2, dtype: object

In [ ]:
### sadece saat kısımlarını aldık
df["SHOPPING_HOUR"] = df["STARTDATE2"].apply(lambda x : ((x.split()[1]).split(":")[0]))

In [ ]:
df[["SHOPPING_HOUR","STARTDATE2"]].head(3)

  SHOPPING_HOUR           STARTDATE2
0            16  2017-01-08 16:16:11
1            11  2017-01-07 11:04:34
2            14  2017-01-04 14:00:03

In [ ]:
df.groupby("SHOPPING_HOUR").agg({"CLIENTCODE":"nunique"}).sort_values("CLIENTCODE",ascending=False)

               CLIENTCODE
SHOPPING_HOUR
18                  14564
17                  14422
16                  13538
15                  12095
19                  11636
14                  10954
13                  10248
12                   8847
11                   7654
20                   6385
10                   6048
09                   3814
21                   1799
08                   1148
07                    122
22                     27
01                      4
00                      2

### 41-Kategori İsimlerini Yazdırın. İçlerinden Bir Tanesine ait alt urunleri bulup bu kategori arasında urunlerin satış yüzdelerini hesaplayın

In [ ]:
### kategorilerin isimleri
df["CATEGORY_NAME1"].unique()

array(['İÇECEK', 'GIDA', 'SÜT KAHVALTILIK', 'MEYVE SEBZE', 'UNKCATG',
       'SİGARA', 'KOZMETİK', 'ET TAVUK', 'EV', 'KAĞIT', 'BEBEK',
       'DETERJAN TEMİZLİK', 'PET'], dtype=object)

In [ ]:
## kategorilerden gıdanın alt kategori isimleri
df[df["CATEGORY_NAME1"] == "GIDA"]["CATEGORY_NAME2"].unique()

array(['SAKIZ SEKERLEME', 'CORBA BULYON', 'MAKARNA', 'UNLU MAMÜLLER',
       'SIVI YAĞLAR', 'TOZ TATLI', 'ÇİKOLATA GOFRET', 'DONDURULMUŞ GIDA',
       'HAZIR YEMEKLER', 'BÜSKİVİ ÇEREZ', 'BAKLİYAT', 'TUZ BAHARAT',
       'BAYRAMLIK', 'ÇİKOLATA'], dtype=object)

In [ ]:
gida_alt_kategori = df[df["CATEGORY_NAME1"] == "GIDA"].groupby("CATEGORY_NAME2").agg({"AMOUNT":"sum"})
gida_alt_kategori.head(3)

                   AMOUNT
CATEGORY_NAME2
BAKLİYAT        30577.813
BAYRAMLIK         249.000
BÜSKİVİ ÇEREZ   93526.029

In [ ]:
gida_alt_kategori["PERCENTAGE"] = gida_alt_kategori["AMOUNT"] \
.apply(lambda x: 100*(x/(gida_alt_kategori["AMOUNT"].sum())))

In [ ]:
gida_alt_kategori["PERCENTAGE"].head()

CATEGORY_NAME2
BAKLİYAT            10.248462
BAYRAMLIK            0.083455
BÜSKİVİ ÇEREZ       31.346192
CORBA BULYON         2.570343
DONDURULMUŞ GIDA     0.673001
Name: PERCENTAGE, dtype: float64